@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Some explorations of a-frame.</p>
    <ul>
        <li><a href="basic-scene/index.html">basic scene</a></li>
        <li><a href="textured/index.html">textured scene</a></li>
    </ul>
</div>
